/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button:hover {
  cursor: pointer; }

a:hover {
  cursor: pointer; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #f1b521;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px; }

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.col12 {
  width: 100%; }

.col11 {
  width: 91.53%; }

.col10 {
  width: 83.06%; }

.col9 {
  width: 74.6%; }

.col8 {
  width: 66.13%; }

.col7 {
  width: 57.66%; }

.col6 {
  width: 49.2%; }

.col5 {
  width: 40.73%; }

.col4 {
  width: 32.26%; }

.col3 {
  width: 23.8%; }

.col2 {
  width: 15.33%; }

.col1 {
  width: 6.866%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 700px) {
  .col {
    margin: 1% 0 1% 0%; }

  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    width: 100%; } }
/*  GO FULL WIDTH BELOW 480 PIXELS */
.hCenterInline {
  text-align: center; }

.hCenterBlock {
  margin: 0 auto; }

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#cssmenu {
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

#cssmenu #menu-button {
  display: none; }

#cssmenu {
  width: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background: #ffffff; }

#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  z-index: 50;
  background: #f1b521;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

#cssmenu > ul > li {
  float: right; }

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center; }

#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none; }

#cssmenu.align-center ul ul {
  text-align: left; }

#cssmenu.align-right > ul > li {
  float: right; }

#cssmenu.align-right ul ul {
  text-align: right; }

#cssmenu > ul > li > a {
  padding: 20px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease; }

#cssmenu > ul > li > a:hover {
  color: #f1b521;
  background-color: #e6e6e6; }

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #f1b521; }

#cssmenu > ul > li.has-sub > a {
  padding-right: 25px; }

#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease; }

#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1; }

#cssmenu ul ul {
  position: absolute;
  left: -9999px; }

#cssmenu li:hover > ul {
  left: auto; }

#cssmenu.align-right li:hover > ul {
  right: 0; }

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0; }

#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%; }

#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease; }

#cssmenu ul li:hover > ul > li {
  height: 32px; }

#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: 12px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease; }

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff; }

#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease; }

#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd; }

#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff; }

@media all and (max-width: 700px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 768px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 768px), only screen and (min-device-pixel-ratio: 2) and (max-width: 768px), only screen and (min-resolution: 192dpi) and (max-width: 768px), only screen and (min-resolution: 2dppx) and (max-width: 768px) {
  #cssmenu {
    width: 100%; }

  #cssmenu ul {
    width: 100%;
    display: none; }

  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left; }

  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15); }

  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%; }

  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block; }

  #cssmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #000000;
    background: none; }

  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000000; }

  #cssmenu ul ul ul li a {
    padding-left: 40px; }

  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0; }

  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none; }

  #menu-line {
    display: none; }

  #cssmenu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase; }

  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
    color: #f1b521; }

  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000; }

  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer; }

  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99; }

  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99; }

  #cssmenu .submenu-button.submenu-opened:after {
    display: none; } }
#cssmenu {
  z-index: 300;
  width: 100%;
  position: fixed; }

#bgTint {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background-color: black;
  opacity: .3; }

img.bg {
  /* Set rules to fill background */
  min-height: 100vh;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -50; }

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */ } }
.headline {
  font-size: 70px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 25vh;
  margin-bottom: 20vh;
  -moz-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }

.heading {
  width: auto;
  margin: 0 auto;
  text-align: center; }

.contactHead {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600; }

.contactHeader {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-top: 15vh;
  width: 75%; }

.contactForm {
  background-color: #e0e31a;
  height: 50px;
  padding-top: 1vh;
  margin-bottom: 15px; }
  .contactForm input {
    background-color: none;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    outline: 0;
    border: none;
    padding: 15px;
    background: none;
    font-size: 1.3em;
    margin-left: 10px;
    color: #4a4a4f; }
  .contactForm .icon-contact {
    margin-left: 10px;
    color: #4a4a4f; }

.contactFormComments {
  background-color: #e0e31a;
  height: 100px;
  padding-top: 1vh; }
  .contactFormComments textarea {
    background-color: none;
    width: 85%;
    height: 90%;
    margin: 0 auto;
    outline: 0;
    border: none;
    padding: 15px;
    background: none;
    font-size: 1.3em;
    margin-left: 32px;
    padding-top: 7px;
    color: #4a4a4f; }
  .contactFormComments .icon-contact {
    margin-left: 10px;
    color: #4a4a4f;
    position: absolute;
    margin-top: 10px; }

.submitContact {
  width: 30%;
  height: 50px;
  background-color: #e0e31a;
  border: white solid 2px;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: all;
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  margin-left: 35%; }
  .submitContact input {
    text-decoration: none;
    font-size: 37px;
    color: white;
    background: none;
    text-align: center;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: all; }

.submitContact:hover {
  border: #4a4a4f solid 2px; }
  .submitContact:hover input {
    color: #4a4a4f; }

.containerContact {
  width: 75%;
  height: 50vh;
  margin: 0 auto;
  background-color: #f1b521;
  margin-top: 2vh;
  padding: 10px 10px 10px 10px; }

@media only screen and (max-width: 700px) {
  .containerContact {
    height: 70vh; }

  .submitContact {
    width: 100%;
    height: 50px;
    background-color: #e0e31a;
    margin-top: 20px;
    border: white solid 2px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: all;
    margin-left: 0; }
    .submitContact input {
      text-decoration: none;
      font-size: 37px;
      color: white;
      background: none;
      text-align: center;
      outline: none;
      border: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
      -webkit-transition-duration: .5s;
      transition-duration: .5s;
      -webkit-transition-property: all; } }
.buttonHold {
  position: absolute;
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  z-index: 40; }

button#enterPage {
  text-decoration: none;
  font-size: 35px;
  color: white;
  width: 170px;
  height: 70px;
  border: 3px solid white;
  background: none;
  text-align: center;
  margin-top: 65vh;
  outline: none;
  z-index: 1;
  opacity: .9;
  -webkit-box-shadow: 0px 24px 46px -22px black;
  -moz-box-shadow: 0px 24px 46px -22px black;
  box-shadow: 0px 24px 46px -22px black;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: box-shadow opacity color background; }

button#enterPage:hover {
  color: black;
  background: white;
  opacity: .9;
  -webkit-box-shadow: 0px 16px 80px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 16px 80px -5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 16px 80px -5px rgba(0, 0, 0, 0.8); }

@keyframes pulse {
  0% {
    background-color: #001F3F; }
  100% {
    background-color: #FF4136; } }
.socialContainer {
  position: absolute;
  margin-top: 85vh;
  width: 100%;
  text-align: center;
  z-index: 500; }
  .socialContainer ul {
    width: 100%;
    margin: 0 auto;
    word-spacing: 20px; }
    .socialContainer ul li {
      display: inline;
      text-align: center;
      cursor: pointer; }
      .socialContainer ul li a i {
        color: white;
        opacity: .6;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-property: opacity color; }
      .socialContainer ul li a i:hover {
        color: #f1b521;
        opacity: .9; }

body {
  background: white; }

.drawer {
  z-index: 40 !important; }

/*# sourceMappingURL=style.css.map */
